<html>
    <head>
        <title>Todo List</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="/assets/styles.css" type="text/css" />
    </head>
    <body>
        <h1>My Todo App</h1>
        <div id="todo-table">
            <form>
                <input type="text" name="item" placeholder="Add new item..." required >
                <button type="submit">Add Item</button>
            </form>
            <ul>
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
            </ul>
        </div>
    </body>
</html>